# Python / RAG Backend
rag/venv/
rag/__pycache__/
rag/faiss_index/
rag/.env

# Node.js / React Frontend
ecommerce-website/node_modules/
ecommerce-website/.pnp
ecommerce-website/.pnp.js
ecommerce-website/coverage/
ecommerce-website/build/

# General
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

__pycache__/
*.pyc
*.pkl
*.log
*.ipynb
.ipynb_checkpoints/
.venv/
env/
venv/
*.pt
*.bin
*.h5
*.onnx
*.pdf
.DS_Store
*.zip
*.tar.gz
data/
faiss_index/

